* {
  box-sizing: border-box;
}

.aside__up__next {
  background-color: white;
  display: inline-block;
  float: right;
  margin-left: 5px;
  margin-top: 8px;
  width: 330px;
}

.full__body{
  background-color: rgb(241, 241, 241);
  margin: 0;
}
/* I do not understand how to get rid of right side margin in main */
main {
  background-color: rgb(241, 241, 241);
  margin-left: 125px;
  width: 678px;
  display: inline-block;
}

.cat__hat__section {
  vertical-align: top;
}

.div__cat__hat {
  display: inline-block;
}

.div__subscribe {
  display: inline-block;
}

.img__video {
  display: inline-block;
  height: 385px;
  width: 678px;
}

.logo__youtube {
  display:inline-block;
  margin-top: -9px;
  width: 60px;
}

.nav__bar {
  background-color: white;
  height: 40px;
  padding: 9px 20px;
}

.img__profile {
  border-radius: 19px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 2px;
  vertical-align: top;
  width: 19px;
}

.search__form {
  border-color: black;
  display: inline-block;
  margin-left: 85px;
  vertical-align: top;
}
/* Nav search bar */
.search__submit,
.search__text {
  display:inline-block;
  height: 21px;
}

.search__submit {
  border: 5px;
  background-color: rgb(249,249,249);
  border-color: rgb(225, 225, 225);
  padding: 3px;
  width: 52px;
}

.search__text {
  width: 460px;
}

.button__upload {
  background-color: rgb(248, 248, 248);
  display: inline-block;
  font-size: 9px;
}

.user__group__top {
  display: inline-block;
  float: right;
}

.video__cat__photo {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 40px;
}

.video__movie__title {
  display: inline-block;
  font-size: medium;
  height: 20px;
  margin-top: 0;
  margin-bottom: 6px;
}

.video__section {
  background-color: white;
  display: inline-block;
  height: 121px;
  margin: 0;
  padding: 30px;
  padding-left: 0;
  padding-right: 0;
  width: 678px;
}

.video__subscribe {
  background-color:red;
  color: white;
}

.video__username__aside {
  display: block;
  margin: 0;
  font-size: small;
}

/* Video Views text */
.video__views__count {
  color: rgb(169, 169, 169);
  display: inline-block;
  float:right;
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
