article {
  background-color: white;
}
aside {
  background-color: white;
  display: inline-block;
  float: right;

}

body{
  background-color: silver;
  margin: 0;

}
main {
  width: 678px;
}
nav {
  background-color: white;
  box-sizing: border-box;
}

li {
  display: inline-block;
}
section {
  background-color: white;
}

.cat {
  width:30px;
}

.logo {
  width: 50px;
  display:inline-block;
}

.profile-img {
  display: inline-block;
  width: 15px;
  border-radius: 15px;
}

}
.upload-button {
  display: inline-block;
  background-color: silver;
}
.search {
  display: inline-block;
  width: 465px;
}
.subscribe {
  background-color:red;
  color: white;
}
.top-right {
  display: inline-block;
}
.user__group__top {
  float: right;
  display: inline-block;
  vertical-align: top;
}

.views {
  color: grey;
}
