article {
  background-color: white;
}

aside {
  background-color: white;
  display: inline-block;
  float: right;
}

body{
  background-color: silver;
  margin: 0;
}

main {
  width: 678px;
}

nav {
  background-color: white;
  vertical-align: top;
}

section {
  background-color: white;
}

.cat {
  width:30px;
}

.logo {
  width: 59px;
  display:inline-block;
  margin-left: 40px;
}

.profile-img {
  display: inline-block;
  width: 15px;
  border-radius: 15px;
}

.upload-button {
  display: inline-block;
  background-color: silver;
  float: right;
}

.search {
  display: inline-block;
  width: 512px;
  vertical-align: top;
}

.subscribe {
  background-color:red;
  color: white;
}

.top-right {
  display: inline-block;
}

.user__group__top {
  float: right;
  display: inline-block;

}

.views {
  color: grey;
}
