.body {
  font-family: helvetica;
}

.clearButton {
  color: orangered;
}

.chatAppBody {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.appForm {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.chatMessagesDisplay {
  border: solid 1px lightgray;
  width: 500px;
  height: auto;
  min-height: 250px;
  margin-bottom: 10px;
}

.userNameInput {
  color: orangered;
  display: inline-block;
  width: 25%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.messageText {
  color: orangered;
  display: inline-block;
  width: 72%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.submitMessage {
  color: green;
  display: none;
  width: 100px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.currentPost {
  text-align: center;
  color: orangered;
  margin-top: 0;
  margin-bottom: 10px;
}

.userNameStyle {
  color: orangered;
  font-size: 16px;
  font-weight: bold;
}

.userMessageStyle {
  color: darkgreen;
  font-size: 16px;
}
