* {
  box-sizing: border-box;
}

/* The "add" button */
.addButton {
  background-color: rgb(125, 196, 118);
  color: white;
  display: inline-block;
  float: right;
  font-size: 26px;
  -webkit-appearance: initial;
  -moz-appearance: initial;
  width: 139px;
}

.body {

}

/* Checklist button. Once checked, item line-through takes place */
.check__button {
  background-color: white;
  border-color: rgb(238, 238, 238);
  border-radius: 50px;
  border-style: double;
  height: 50px;
  vertical-align: middle;
  width: 50px;
  margin-top: 10px;
}

.dollar__amount {
  display: inline-block;
  float: right;
}

.dollar__sign {
  display: inline-block;
}

/* This is where added item shows in list */
.h2__item {
  display: inline-block;
  font: helvetica;
  vertical-align: middle;
  margin-top: 30px;
}

/* The shows price of gift item */
.h2__price {
  display: inline-flex;
  font: helvetica;
  font-size: 35px;
  margin: 30px 35px 0 430px;
  vertical-align: middle;
  width: 50px;
}

.item__article2 {
  margin-right: 117px;
  height: 89px;
  background-color: white;
  margin-top: 2px;
}

.item__delete {
  text-decoration: line-through;
  vertical-align: middle;
  color: green;
}

/* Item input area */
.item__form {
  margin: 0 auto;
  height: 98px;
  width: 687px;
  display: flex;
}

/* Here is the text field where item name is entered */
.item__textArea {
  font-size: 32px;
  height: 98px;
  width: 687px;
}

.lineThrough {
  color: red;
  display: inline-block;
  font-style: italic;
  margin-bottom: 0px;
  /*margin-left: 20px;
  margin-top: 10px;
  vertical-align: top;*/
  text-decoration: line-through;
}

/* Where items show in list form */
.list__article1 {
  margin-right: 117px;
  height: 89px;
  background-color: white;
}

/* Container where list of items show up */
.list__section {
  margin-left: 119px;
  height: auto;
}

/* Page heading */
.main__h1 {
font-family: helvetica;
font-size: 48px;
font-weight: lighter;
text-align: center;
width: 100%;
}

/* Main container */
.main {
  background-color: rgb(245,245,245);
  border-bottom: rgb(245, 245, 245);
  border-bottom-style: double;
  height: auto;
  margin-left: 200px;
  width: 922px;
}

.totalPrice__article {
  margin-right: 117px;
}

.total__Text {
  display: inline-block;
  margin-left: 600px;
}
