/* Album Title */
.album__heading{
  background-color: gray;
  height: 50px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Album Thumbnails */
.img{
  height: 300px;
  width: 300px;

}

/* Image div */
.img__container{
  padding-right: 10px;
}

/* Thumbnail title (name) */
.img__name{

}

.thumb__group1{
  display: flex;
  margin: 30px 0 0 170px;
  text-align: center;
}

.thumb__group2{
  display: flex;
  margin-left: 170px;
  text-align: center;
}
