/* All other Album list buttons */
.album__button{
  background-color: white;
  border-style: double;
  font-size: large;
  height: 40px;
  margin-left: 5px;
  margin-top: 20px;
  width: 95%;
}

/* 1st Album list button */
.album__button1{
  background-color: white;
  border-style: double;
  font-size: large;
  height: 40px;
  margin-left: 5px;
  margin-top: 150px;
  width: 95%;
}

/* Album Title (Home Page) */
.album__heading{
  background-color: gray;
  height: 50px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Album list page heading */
.album__heading2{
  float: right;
  height: 50px;
  margin: 0;
  margin-right: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.backbutton{
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.body__albumImage{
  background-color: gray;

}

.body__index{
  background-color: white;
}

/* Album Thumbnails */
.img{
  height: 300px;
  width: 300px;
}

.img__albumlist{
  height: 150px;
  width: 150px;
}

/* Image div */
.img__container{
  padding-right: 10px;
}

/* Thumbnail title (name) */
.img__name{

}

.main__close{
  display: none;
}

.main{

}

.modal__div{

}

.modal__close {
  display: none;
}


.phototext__large{
  margin-bottom: 40px;
  text-align: center;
}

.photo__large{
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.photolarge__p{


}

.remove__album__heading2{
  display: none;
}

/* Album list side bar */
.side__bar{
  background-color: gray;
  display: inline-block;
  height: 800px;
  width: 200px;
}



/* Home page thumbs (first row) */
.thumb__group1{
  display: flex;
  margin: 30px 0 0 170px;
  text-align: center;
}

/* Home page thumbs (second row) */
.thumb__group2{
  display: flex;
  margin-left: 170px;
  text-align: center;
}

/* Album list thumbs (first row) */
.thumb__group3{
  display: inline-flex;
  float: right;
  margin: 30px 0 0 170px;
  margin-bottom: 40px;
  margin-right: 150px;
  text-align: center;
  width: 50%;
}

/* Album list thumbs (second row) */
.thumb__group4{
  display: inline-flex;
  float: right;
  text-align: center;
  width: 50%;
  margin: 0;
  margin-right: 150px;
}
