* {
  box-sizing: border-box;
}

/* Checklist button. Once checked, item line-through takes place */
.check__button{
  background-color: white;
  border-color: rgb(238, 238, 238);
  border-radius: 50px;
  border-style: double;
  height: 50px;
  vertical-align: middle;
  width: 50px;
  margin-top: 10px;
}

/* The "add" button */
.form__addButton{
  background-color: rgb(125, 196, 118);
  color: white;
  display: inline-block;
  float: right;
  font-size: 26px;
  -webkit-appearance:initial;
  -moz-appearance: initial;
  width: 139px;
}

/* This is where added item shows in list */
.h2__item{
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
}

.item__article1{
  margin-right: 117px;
  height: 89px;
  background-color: white;
}

.item__article2{
  margin-right: 117px;
  height: 89px;
  background-color: white;
  margin-top: 2px;
}

.item__form{
  margin: 0 auto;
  height: 98px;
  width: 687px;
  display: flex;
}

/* Container where list of items show up */
.item__section{
  margin-left: 119px;
  height: auto;
}

/* Here is the text field where item name is entered */
.item__textArea{
  font-size: 32px;
  height: 98px;
  width: 687px;
}

/* Page heading */
.main__h1{
font-family: helvetica;
font-size: 48px;
font-weight: lighter;
text-align: center;
width: 100%;
}

/* Main container */
.main{
  background-color: rgb(245,245,245);
  height: 600px;
  margin-left: 200px;
  width: 922px;
}
