* {
  box-sizing: border-box;
}

.form__add__button{
  background-color: rgb(125, 196, 118);
  color: white;
  display: inline-block;
  float: right;
  font-size: 26px;
  -webkit-appearance:initial;
  -moz-appearance: initial;
  width: 139px;

}

.input__area{
  font-size: 32px;
  height: 98px;
  width: 687px;
}

.item__form{
  margin: 0 auto;
  height: 98px;
  width: 687px;
  display: flex;
}

.main__h1{
font-family: helvetica;
font-size: 48px;
font-weight: lighter;
text-align: center;
width: 100%;
}

.main{
  background-color: rgb(245,245,245);
  height: 600px;
  margin-left: 200px;
  width: 922px;
}
