* {
  box-sizing: border-box;
}

.check__button{
  background-color: white;
  border-color: rgb(238, 238, 238);
  border-radius: 50px;
  border-style: double;
  height: 50px;
  width: 50px;

}
.form__add__button{
  background-color: rgb(125, 196, 118);
  color: white;
  display: inline-block;
  float: right;
  font-size: 26px;
  -webkit-appearance:initial;
  -moz-appearance: initial;
  width: 139px;

}

.input__area{
  font-size: 32px;
  height: 98px;
  width: 687px;
}

.item__article{
  margin-right: 117px;
  height: 89px;
}

.item__form{
  margin: 0 auto;
  height: 98px;
  width: 687px;
  display: flex;
}

.item__section{
  margin-left: 119px;
}
.main__h1{
font-family: helvetica;
font-size: 48px;
font-weight: lighter;
text-align: center;
width: 100%;
}

.main{
  background-color: rgb(245,245,245);
  height: 600px;
  margin-left: 200px;
  width: 922px;
}
