.button__clear {
  width: 70px;
  height: 70px;
  background-color: rgb(100, 181, 92);
  font-size: 16px;
  color: white;
}

.body {
  margin-left: 450px;
  margin-top: 150px;
}

.key__grp {
width: 70px;
height: 70px;
background-color: rgb(100, 181, 92);
font-size: 16px;
color: white;
}

.key__spcl {
  background-color: rgb(130, 194, 124);
  width: 70px;
  height: 70px;
  font-size: 16px;
  color: rgb(75, 110, 69);
}

.output__window {
  width: 215px;
  height: 65px;
  border-style: solid;
  margin: 0;
  border-color: rgb(134, 197, 127);
}

.row__1 {
  display: flex;
  background-color: rgb(100, 181, 92);
  width: 292px;
}

.row__2 {
  display: block;
  background-color: rgb(100, 181, 92);
  width: 292px;
}

.row__3 {
  display: block;
  background-color: rgb(100, 181, 92);
  width: 292px;
}

.row__4 {
  display: block;
  background-color: rgb(100, 181, 92);
  width: 292px;
}

.row__5 {
  display: block;
  background-color: rgb(100, 181, 92);
  width: 292px;
}
