.body {
  background-color: white;
}

.movie__cast{
  text-align: center;
}

.movie__director{
  text-align: center;
}

.movie__plot{
  text-align: center;
}

.movie__poster{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie__release__date{
  text-align: center;
}

.movie__runtime{
  text-align: center;
}

.movie__section {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;

}

.movie__title {
  text-align: center;
